
.wrapperForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
    .formContainer {
        padding: 20px;
    }
}

