
.wrapperForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.formContainer {
    /* background-color: white; */
    /* border-radius: 15px; */
    /* padding: 50px; */
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
    .formContainer {
        padding: 20px;
    }
}

